version: '3.8'

services:

  web:
    build: docker/images/nginx
    image: ${APP_NAME}-web:develop
    container_name: ${APP_NAME}-web
    restart: always
    volumes:
      - .:/var/www/app:ro,cached
    ports:
      - '${LOCAL_WEB_PORT}:80'
    depends_on:
      - php
    working_dir: /var/www/app/application/backend/public

  php:
    build: docker/images/php
    image: ${APP_NAME}-php:develop
    container_name: ${APP_NAME}-php
    restart: always
    depends_on:
      - db
    ports:
      - '9000:9000'
    volumes:
      - .:/var/www/app:rw,cached
      - .:/var/www/app/var:rw
      - ~/.cache/composer:/tmp/.composer/cache
    environment:
      COMPOSER_CACHE_DIR: /tmp/.composer/cache
      COMPOSER_MEMORY_LIMIT: -1
      XDEBUG_CONFIG: remote_host=${HOST_IP} remote_port=9001 remote_enable=1
    working_dir: /var/www/app/application/backend

  db:
    image: postgres:15-alpine
    container_name: ${APP_NAME}-db
    restart: always
    ports:
       - "${LOCAL_DATABASE_PORT}:5432"
    volumes:
      - ./data:/var/data
    environment:
      TZ: 'Europe/Paris'
      PGTZ: 'Europe/Paris'
      POSTGRES_USER: ${DATABASE_ADMIN}
      POSTGRES_PASSWORD: ${DATABASE_ADMIN_PASSWORD}
